{% trans_default_domain 'ContaoFileUsage' %}
<tr class="even click2edit toggle_select hover-row">
  <td class="tl_file_list">
    {% if result.getModule()|default %}
      {{ ('MOD.' ~ result.getModule() ~ '.0')|trans({}, 'contao_modules') }}
    {% else %}
      -
    {% endif %}
  </td>
  <td class="tl_file_list">
    {% if result.getParentTitle()|default %}
      {% if result.getParentEditUrl()|default %}<a href="{{ result.getParentEditUrl() }}" class="edit" title="{{ 'edit_record'|trans({ '%record%': '"' ~ result.getParentTitle() ~ '"' }) }}">{{ result.getParentTitle() }}</a>{% else %}{{ result.getParentTitle() }}{% endif %}
    {% else %}
      -
    {% endif %}
  </td>
  <td class="tl_file_list" title="{{ result.getTable() }}">
    {{ ('MOD.' ~ result.getTable())|trans({}, 'contao_modules') }}
  </td>
  <td class="tl_file_list">
    {% if result.getTitle()|default %}{{ result.getTitle() }} (ID {{ result.getId() }}){% else %}ID {{ result.getId() }}{% endif %}
  </td>
  <td class="tl_file_list tl_right_nowrap">
    {% if result.getEditUrl()|default %}
      <a class="edit" href="{{ result.getEditUrl() }}" title="{{ 'edit_record'|trans({ '%record%': result.getTable() ~ '.' ~ result.getId() }) }}"><img src="/system/themes/flexible/icons/edit.svg" alt="" width="16" height="16"></a>
    {% endif %}
  </td>
</tr>
