{% trans_default_domain 'ContaoFileUsage' %}
{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
  <span>{{ 'replace_image_headline'|trans }}</span> <span>{{ file.name }}</span>
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
  {% if message|default %}
    <div class="tl_message"><p class="tl_error">{{ message|raw }}</p></div>
  {% endif %}

  <div id="tl_buttons">
    <a href="{{ back_url }}" class="header_back">{{ 'MSC.goBack'|trans({}, 'contao_default') }}</a>
  </div>

  <form method="post" class="tl_form tl_edit_form" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="REQUEST_TOKEN" value="{{ requestToken }}">
    <input type="hidden" name="FORM_SUBMIT" value="replace_images">
    <input type="hidden" name="_target_path" value="{{ back_url }}">
    <div class="tl_formbody_edit">
      <fieldset class="tl_box">
        <div class="widget">
          {{ fileWidget|raw }}
          <p class="tl_help tl_tip">{{ 'tl_content.singleSRC.1'|trans({}, 'contao_tl_content') }}</p>
        </div>
        <div class="widget">
          <fieldset class="tl_checkbox_container">
            <legend>{{ 'replace_image_references'|trans }}</legend>
            <input type="hidden" name="elements" value="">
            <div>
              <input type="checkbox" id="check_all_themes" class="tl_checkbox" onclick="Backend.toggleCheckboxGroup(this,'ctrl_themes')"> <label for="check_all_themes" style="color:#a6a6a6"><em>{{ 'MSC.selectAll'|trans({}, 'contao_default') }}</em></label>
            </div>
            {% spaceless %}
              {% for index, u in usages %}
                  <div>
                    <input type="checkbox" name="elements[]" class="tl_checkbox" value="{{ index }}" id="opt_elements_{{ index }}" {% if sourceTable == u.result.getTable() and sourceId == u.result.getId() %} checked{% endif %}>
                    <label for="opt_elements_{{ index }}">
                      {% if u.module|default %}
                        {{ ('MOD.' ~ u.module ~ '.0')|trans({}, 'contao_modules') }}{% if u.parent|default %} » {% if u.parentEditUrl|default %}<a href="{{ u.parentEditUrl }}" class="edit">{{ u.parent }}</a>{% else %}{{ u.parent }}{% endif %}{% endif %} » {{ ('MOD.' ~ u.result.getTable())|trans({}, 'contao_modules') }} » <a href="{{ u.url }}" target="_blank" class="edit" title="{{ 'edit_record'|trans({ '%id%': u.result.getId() }) }}">{% if u.title|default %}{{ u.title }} (ID {{ u.result.getId() }}){% else %}ID {{ u.result.getId() }}{% endif %}</a>
                      {% else %}
                        {{ u.result.getTable() }}.{{ u.result.getId() }}
                      {% endif %}
                    </label>
                  <div>
              {% endfor %}
            {% endspaceless %}
          </fieldset>
        </div>
      </fieldset>
    </div>
    <div class="tl_formbody_submit">
      <div class="tl_submit_container">
        <button class="tl_submit" type="submit">{{ 'replace_image_send'|trans }}</button>
      </div>
    </div>
  </form>
{% endblock %}
