{% trans_default_domain 'ContaoFileUsage' %}
{% extends "@ContaoFileUsage/be_page.html.twig" %}

{% block headline %}
  <span>{{ 'show_file_usage_headline'|trans }}</span> <span>{{ file.name }}</span>
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
  <div class="tl_message"><p class="tl_new">{{ 'file_usage_warning'|trans|raw }}</p></div>

  <div id="tl_buttons">
    <a href="{{ back_url }}" class="header_back">{{ 'MSC.goBack'|trans({}, 'contao_default') }}</a>
  </div>

  <div class="tl_listing_container list_view" id="tl_listing">
    <table class="tl_listing showColumns">
      <tbody>
        <tr>
          <th class="tl_folder_tlist">{{ 'show_file_usage_module'|trans }}</th>
          <th class="tl_folder_tlist">{{ 'show_file_usage_parent'|trans }}</th>
          <th class="tl_folder_tlist">{{ 'show_file_usage_table'|trans }}</th>
          <th class="tl_folder_tlist">{{ 'show_file_usage_record'|trans }}</th>
          <th class="tl_folder_tlist tl_right_nowrap"></th>
        </tr>
        {% for index, result in results %}
          {% include result.template with { result: result } %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <form method="post" class="tl_form tl_edit_form" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="REQUEST_TOKEN" value="{{ requestToken }}">
    <input type="hidden" name="FORM_SUBMIT" value="refresh_file_usage">
    <input type="hidden" name="redirect" value="{{ back_url }}">
    <div class="tl_formbody_submit">
      <div class="tl_submit_container">
        <button class="tl_submit" type="submit">{{ 'refresh_file_usage'|trans }}</button>
      </div>
    </div>
  </form>
{% endblock %}
